<h2>マイページ</h2>

<h2>登録情報</h2>

<h4>氏名</h4>
<%= @customer.full_name %>
<%= @customer.full_name_kana %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.telephone_number %>
<%= @customer.email %>

<h4>配送先</h4>
<%= link_to '一覧を見る', 
