<h2>マイページ</h2>

<h2>登録情報</h2>
<%= link_to '編集する', edit_customers_path %>

<h4>氏名</h4>
<%= @customer.full_name %>
<%= @customer.full_name_kana %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.telephone_number %>
<%= @customer.email %>

<h4>配送先</h4>
<%= link_to '一覧を見る', address_index_path %>

<h4>注文履歴</h4>
<%= link_to '一覧を見る', orders_path %>