<div class="container">
  <div class="row">
    <div class="col-lg-10"><br>
      <p class="text-center">ようこそ、ながのCAKEへ！</p>
      <p class="text-center">このサイトは、ケーキ販売のECサイトになります。</p>
      <p class="text-center">会員でない方も商品の閲覧はできますが、</p>
      <p class="text-center">購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <tbody>
        <h3>新着商品</h3>

        <tr>
          <% @items.each do |item| %>
          <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image %>
          <% end %>
          <%= item.name %>
          ￥<%= item.add_tax_sales_price.to_s(:dalimited) %></td>
        </tr>
        <% end %>
        <%= link_to "全ての商品を見る>", items_path %>
      </tbody>
    </div>
  </div>
</div>