<h2>注文情報確認</h2>

<thead>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
</thead>

<table>
  <tbody>
    <tr>
    <% @cart_items.each do |cart_item| %>
      <td>
        <%= image_tag cart_item.item.get_image %>
      </td>
      <td>
        <%= cart_item.item.name %>
      </td>
      <td>
        <%= cart_item.item.with_tax_price %>
      </td>
      <td>
        <%= cart_item.amount %>
      </td>
      <td>
        <%= cart_item.subtotal %>
      </td>
      <td>
        <% @total +=  cart_item.subtotal %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>

<thead>
  <tr>
    <th>送料</th>
    <th>商品合計</th>
    <th>請求金額</th>
  </tr>
</thead>

<table>
  <tbody>
      <tr>
        <td>
          <%= @order.shipping_cost %>
        </td>
        <td>
          <%= @total %>
        </td>
        <td>
          <%#= @order.shipping_cost + @total %>
          <%= @order.total_payment %>
        </td>
      </tr>
  </tbody>
</table>

<%= form_for @order, url: orders_path, method: :post do |order| %>
<table>
  <tbody>
    <tr>
      <td>
        <p>支払方法</p>
        <%= @order.payment_method_i18n %>
      </td>
      <td>
        <p>お届け先</p>
        <%= @order.address_display %>
      </td>
        <%= order.hidden_field :payment_method, :value => @order.payment_method %>
        <%= order.hidden_field :address, :value => @order.address %>
        <%= order.hidden_field :postal_code, :value => @order.postal_code %>
        <%= order.hidden_field :name, :value => @order.name %>
        <%= order.hidden_field :shipping_cost, :value => @order.shipping_cost %>
        <%= order.hidden_field :total_payment, :value => @order.total_payment %>
      <td>
        <%= order.submit :"注文を確定する", class: 'btn btn-success' %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>