<div class="container">
  <div class="row">
    <div class="col-3"><h2>注文履歴詳細</h2></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7">
        <tr>
          <th><h3>注文情報</h3></th>
        </tr>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>注文日</th>
                  <td><%= l @order.created_at, format: :short %></td>
                </tr>

                <tr>
                  <th>配送先</th>
                  <td><%= @order.address_display %></td>
                </tr>

                <tr>
                  <th>支払方法</th>
                  <td><%= @order.payment_method_i18n %></td>
                </tr>

                <tr>
                  <th>ステータス</th>
                  <td><%= @order.status_i18n %></td>
                </tr>
              </tbody>
           </table>
    </div>
    <div class="col-lg-5">
        <tr>
          <th><h3>請求情報</h3></th>
        </tr>
          <table>
            <div class="col-lg-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>商品合計</th>
                    <td>
                      <% order_total = 0 %>
                        <% @order.order_details.each do |order_detail| %>
                        <% order_total = order_total + order_detail.price * order_detail.amount %>
                        <% end %>
                      <%= order_total %>
                   </td>
                  </tr>

                  <tr>
                    <th>配送料</th>
                    <td><%= @order.shipping_cost %></td>
                  </tr>

                  <tr>
                    <th>ご請求額</th>
                    <td><%= @order.total_payment %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </table>
   </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <table class="table-borderless">
        <tr>
          <th><h3>注文内容</h3></th>
        </tr>
        <div class="col-lg-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>商品</th>
                <th>単価(税込)</th>
                <th>個数</th>
                <th>小計</th>
              </tr>
            </thead>

            <tbody>
              <% @order_details.each do |order_detail| %>
                <tr>
                  <td>
                    <%= order_detail.item.name %>
                  </td>
                  <td>
                    <%= order_detail.price %>
                  </td>
                  <td>
                    <%= order_detail.amount %>
                  </td>
                  <td>
                    <%= order_detail.price * order_detail.amount %>
                  </td>
                <% end %>
               </tr>
            </tbody>
          </table>
        </div>
      </table>
    </div>
  </div>
</div>