<div class="container">
  <div class="row">
  <div class="col-lg-4"><h2>ログイン</h2></div>
</div>

<div class="container">
  <div class="row">
  <div>
    <td><h4>会員の方はこちらからログイン</h4></td>
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div>
          <table class="table-borderless">
          <tr>
            <td><%= f.label :メールアドレス %></td><br>
            <td><%= f.email_field :email, :size=>"50", autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, :size=>"50", autocomplete: "current-password" %></td>
          </tr>

          <tr>
            <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </tr>
          </table>
        </div>
      <% end %>
  </div>
</div>
</div>

<div class="container"><br>
  <div class="row">
    <div class="col-4"><h4>会員登録がお済みでない方</h4></div>
  </div>
    <td><%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。</td>
</div>